<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="irb1300_7_140">
<xacro:macro name="abb_irb1300_7_140" params="prefix">
  <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>
  <!-- link list -->
  <link name="${prefix}base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/base_link.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/base_link.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/link_1.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/link_1.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/link_2.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/link_2.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/link_3.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/link_3.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_xx_140/visual/link_4.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_xx_140/collision/link_4.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/link_5.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/link_5.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <link name="${prefix}link_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/visual/link_6.stl"/>
      </geometry>
      <xacro:material_abb_white/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb1300_support/meshes/irb1300_10_115/collision/link_6.stl"/>
      </geometry>
      <xacro:material_abb_yellow/>
    </collision>
  </link>
  <!-- end of link list -->
  <!-- joint list -->
  <joint name="${prefix}joint_1" type="revolute">
    <origin xyz="0 0 0.544" rpy="0 0 0"/>
    <parent link="${prefix}base_link"/>
    <child link="${prefix}link_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="${radians(-180)}" upper="${radians(180)}" effort="0" velocity="${radians(255)}"/>
  </joint>
  <joint name="${prefix}joint_2" type="revolute">
    <origin xyz="0.15 0 0" rpy="0 0 0"/>
    <parent link="${prefix}link_1"/>
    <child link="${prefix}link_2"/>
    <axis xyz="0 1 0"/>
    <limit lower="${radians(-95)}" upper="${radians(155)}" effort="0" velocity="${radians(180)}"/>
  </joint>
  <joint name="${prefix}joint_3" type="revolute">
    <origin xyz="0 0 0.575" rpy="0 0 0"/>
    <parent link="${prefix}link_2"/>
    <child link="${prefix}link_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="${radians(-210)}" upper="${radians(69)}" effort="0" velocity="${radians(247)}"/>
  </joint>
  <joint name="${prefix}joint_4" type="revolute">
    <origin xyz="0.675 0 0.040" rpy="0 0 0"/>
    <parent link="${prefix}link_3"/>
    <child link="${prefix}link_4"/>
    <axis xyz="1 0 0"/>
    <limit lower="${radians(-230)}" upper="${radians(230)}" effort="0" velocity="${radians(500)}"/>
  </joint>
  <joint name="${prefix}joint_5" type="revolute">
    <origin xyz="0.0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}link_4"/>
    <child link="${prefix}link_5"/>
    <axis xyz="0 1 0"/>
    <limit lower="${radians(-130)}" upper="${radians(130)}" effort="0" velocity="${radians(415)}"/>
  </joint>
  <joint name="${prefix}joint_6" type="revolute">
    <origin xyz="0.090 0 0" rpy="0 0 0"/>
    <parent link="${prefix}link_5"/>
    <child link="${prefix}link_6"/>
    <axis xyz="1 0 0"/>
    <limit lower="${radians(-400)}" upper="${radians(400)}" effort="0" velocity="${radians(720)}"/>
  </joint>
  <!-- end of joint list -->

  <!-- ROS-Industrial 'base' frame: base_link to ABB World Coordinates transform -->
  <link name="${prefix}base" />
  <joint name="${prefix}base_link-base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base"/>
  </joint>

  <!-- ROS-Industrial 'flange' frame: attachment point for EEF models -->
  <link name="${prefix}flange"/>
  <joint type="fixed" name="${prefix}joint_6-flange">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}link_6"/>
    <child link="${prefix}flange"/>
  </joint>

  <!-- ROS-Industrial 'tool0' frame: all-zeros tool frame -->
  <link name="${prefix}tool0" />
  <joint name="${prefix}link_6-tool0" type="fixed">
    <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
    <parent link="${prefix}flange" />
    <child link="${prefix}tool0" />
  </joint>
  </xacro:macro>
</robot>

